
:global {

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  h1,h2,h3,h4,h5,h6, a {
    color: #21395d !important;
  }
  div > hr:nth-child(2) {
    border-bottom-color: #21395d !important;
  }
}
